
@import '../Sass/Helpers/mixin';
@import '../Sass/Helpers/variables';

.header{
    // position: absolute;
    // z-index: 100;
    // left: 50%;
    // transform: translateX(-50%);
    background: $color-black-1;
    width: 100%;
    opacity: .8;
    .header_account{
      .account_detail{  
           background-color: transparent;
           border: 1px solid $color-orange;
           color: wheat;
           margin-top: -20px;
           &:focus{
            background-color: transparent;
            outline: none;
           }
           &:active{
            background-color: transparent;
            outline: none;
           }
           
       }
       .acount_logout{
        &:focus{
         background-color: $color-orange;
        }
    }
       .account_icon{        
           font-size: 40px;
               
           
 }  
    }
    .header__nav {
       
        .navbar-nav{
            border-bottom:1px solid rgba(255, 255, 255, .2);
            .nav-item{
                .nav-link{
                    color: white; 
                    padding: 0 30px 15px 30px;
                    font-size: 20px;
                }  
              &::after{
                  content: "";
                  width: 0;
                  height: 2px;
                  display: block;
                  background: linear-gradient(to right,$color-yellow,$color-orange);
                  transition: all .3s; 
              }
              &:hover::after{
                width: 100%;  
            }
              &:active::after{
              width: 100%;  
           }

            }
        }
    }
}