@import "../Sass/Helpers/mixin";
@import "../Sass/Helpers/variables";

.FeedBack {
  padding: 50px 0;
  .content {
    max-width: 600px;
    margin: auto;
    .card {
      margin-bottom: 15px;
      line-height: 20px;
      .rating {
        .react-stars {
          &:focus {
            border: none;
            outline: none;
            color: transparent;
          }
        }
      }
    }
    .comment_Content {
        background-color: $color-yellow;
      .comment-action {
        padding-left: 8px;
        cursor: "auto";
      }
      [class*="-col-rtl"] .comment-action {
        padding-right: 8px;
        padding-left: 0;
      }
    }
  }
}
