@import '../Sass/Helpers/mixin';
@import '../Sass/Helpers/variables';

.seatList {
    // background-color: $color-black-bg;
    padding: 100px 0;

    ._countDown {
        margin-top: 50px;
    }

    .seatList_detail {
        background: url(../img/screen.png);
        width: 100px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 50px 0;


        table {
            tbody {
                tr {
                    td {
                        padding: 5px;
                    }

                    .rowName {
                        padding-right: 40px;
                        @include styleText($color-black-1, 20px, $fw-bold);
                    }

                }
            }

        }

        .contentBottom {
            display: flex;
            margin-top: 20px;
            transform: translateX(20%);
            left: 50%;

            .item {
                padding-right: 20px;
                text-align: center;

                div {
                    display: inline-block;
                    height: 20px;
                    width: 23px;
                    border-radius: 5px;

                    &::before {

                        width: 16px;
                        height: 18px;


                    }
                }

                p {
                    @include styleText($color-gray-2, 12px, $fw-normal);
                }
            }
        }
    }

    .contentRight {
        box-shadow: 5px 10px 8px #888888;

        .totalCost {
            @include styleText($color-black-0, 60px, $fw-bold);
            text-align: center;
        }

        .bookingEdit {
            @include styleText(white, 30px, $fw-normal);
            line-height: 50px;
            height: 50px;
        }

        .discountInput {
            label {
                margin: 0;
            }

            input {
                border: none;
                padding: 0;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}