@import '../Sass/Helpers/mixin';
@import '../Sass/Helpers/variables';

.signIn {
    padding: 200px 0;
    height: 800px;
    background-color: $color-black-bg;

    .signIn_Content {
        width: 30%;
        margin: auto;
        color: white;

        h1 {
            @include styleTextTile(30px)
        }
    }
}