@import '../Helpers/mixin';
@import '../Helpers/variables';
.seatVip{
    height: 27px;
    width: 33px;
    text-align: center;
    background: $color-yellow; 
    color: transparent;
    border: 1px solid  transparent;
    border-radius: 8px 5px 5px;
    position: relative;
    color: white;
   
    &::before{
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background: $color-yellow;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, 0.856);
        top: -3px;
        left: 3px;
        color: $color-yellow;
        
        
    }
    &:focus{
        outline: none;
    }
}
